.product-card-container {
  width: 300px;
  display: inline-block;
  margin-bottom: 1rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-header {
  width: 100%;
}
